version: '3.9'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: chronos
      POSTGRES_USER: chronos
      POSTGRES_PASSWORD: chronos
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3.11-management
    ports:
      - "5672:5672"
      - "15672:15672"
  redis:
    image: redis:7
    ports:
      - "6379:6379"
